
<div class="mw-1024 mx-auto">
  <!-- Page -->
  <div class="flex justify-center pt-5">
    <section class="w-[720px] bg-white shadow-sm rounded-xl">
      <div class="border-b border-gray-400 py-3 text-center">
        <h2 class="text-md font-bold text-gray-900">
          Formulario de Registro
        </h2>
      </div>

      <form class="px-10 py-8">
        <div class="grid grid-cols-2 gap-x-8 gap-y-4">
          <div>
            <label class="block mb-2 font-bold text-gray-800 text-sm">ID</label>
            <input
              type="text"
              class="w-full h-8 rounded border px-4 outline-none focus:ring-1 focus:ring-red-400"
            />
            <p class="mt-2 text-sm text-red-600">Required</p>
          </div>

          <div>
            <label class="block mb-2 font-bold text-gray-800 text-sm">Nombre</label>
            <input
              type="text"
              value="Tarjeta Crédito"
              class="w-full h-8 rounded border  px-4 outline-none"
            />
          </div>

          <div>
            <label class="block mb-2 font-bold text-gray-800 text-sm">Descripción</label>
            <input
              type="text"
              class="w-full h-8 rounded border px-4 outline-none"
            />
          </div>

          <div>
            <label class="block mb-2 font-bold text-gray-800 text-sm">Logo</label>
            <input
              type="text"
              class="w-full h-8 rounded border px-4 outline-none"
            />
          </div>

          <div>
            <label class="block mb-2 font-bold text-gray-800 text-sm">
              Fecha Liberación
            </label>
            <input
              type="text"
              value="22/02/2023"
              class="w-full h-8 rounded border  px-4 outline-none"
            />
          </div>

          <div>
            <label class="block mb-2 font-bold">
              Fecha Revisión
            </label>
            <input
              type="text"
              value="22/02/2024"
              class="w-full h-8 rounded border  px-4 outline-none"
            />
          </div>
        </div>

        <div class="mt-10 flex justify-center gap-16">
          <button
            type="reset"
            class="py-4 px-3 w-28 text-sm rounded-xl bg-slate-100 font-bold text-blue-950 hover:bg-slate-200"
          >
            Reiniciar
          </button>

          <button
            type="submit"
            class="py-4 px-3 w-28 text-sm rounded-xl bg-brand-primary font-bold text-blue-950 hover:bg-brand-primaryHover"
          >
            Enviar
          </button>
        </div>
      </form>
    </section>
  </div>
</div>